<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Acr.Support" version="2.1.0" targetFramework="xamarinios10" />
  <package id="Acr.UserDialogs" version="5.3.0" targetFramework="xamarinios10" />
  <package id="BTProgressHUD" version="1.2.0.3" targetFramework="xamarinios10" />
  <package id="Microsoft.Azure.Mobile.Client" version="2.0.1" targetFramework="xamarinios10" />
  <package id="Microsoft.Azure.Mobile.Client.Files" version="1.0.0-beta-2" targetFramework="xamarinios10" />
  <package id="Microsoft.Azure.Mobile.Client.SQLiteStore" version="2.0.1" targetFramework="xamarinios10" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="xamarinios10" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="xamarinios10" />
  <package id="Microsoft.Data.Edm" version="5.6.4" targetFramework="xamarinios10" />
  <package id="Microsoft.Data.OData" version="5.6.4" targetFramework="xamarinios10" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="xamarinios10" />
  <package id="Microsoft.ProjectOxford.Common" version="1.0.308" targetFramework="xamarinios10" />
  <package id="Microsoft.ProjectOxford.Emotion" version="1.0.310" targetFramework="xamarinios10" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="xamarinios10" />
  <package id="PCLStorage" version="1.0.2" targetFramework="xamarinios10" />
  <package id="Splat" version="1.6.2" targetFramework="xamarinios10" />
  <package id="SQLitePCL" version="3.8.7.2" targetFramework="xamarinios10" />
  <package id="System.Spatial" version="5.6.4" targetFramework="xamarinios10" />
  <package id="WindowsAzure.Storage" version="6.1.1-preview" targetFramework="xamarinios10" />
  <package id="Xam.Plugin.Media" version="2.3.0" targetFramework="xamarinios10" />
  <package id="Xamarin.SDWebImage" version="3.7.5" targetFramework="xamarinios10" />
</packages>