<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Acr.Support" version="2.1.0" targetFramework="monoandroid60" />
  <package id="Acr.UserDialogs" version="5.3.0" targetFramework="monoandroid60" />
  <package id="AndHUD" version="1.2.0" targetFramework="monoandroid60" />
  <package id="Microsoft.Azure.Mobile.Client" version="2.0.1" targetFramework="monoandroid60" />
  <package id="Microsoft.Azure.Mobile.Client.Files" version="1.0.0-beta-2" targetFramework="monoandroid60" />
  <package id="Microsoft.Azure.Mobile.Client.SQLiteStore" version="2.0.1" targetFramework="monoandroid60" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="monoandroid60" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="monoandroid60" />
  <package id="Microsoft.Data.Edm" version="5.7.0" targetFramework="monoandroid60" />
  <package id="Microsoft.Data.OData" version="5.7.0" targetFramework="monoandroid60" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="monoandroid60" />
  <package id="Microsoft.ProjectOxford.Common" version="1.0.308" targetFramework="monoandroid60" />
  <package id="Microsoft.ProjectOxford.Emotion" version="1.0.310" targetFramework="monoandroid60" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="monoandroid60" />
  <package id="PCLStorage" version="1.0.2" targetFramework="monoandroid60" />
  <package id="Plugin.CurrentActivity" version="1.0.1" targetFramework="monoandroid60" />
  <package id="Plugin.Permissions" version="1.1.7" targetFramework="monoandroid60" />
  <package id="Splat" version="1.6.2" targetFramework="monoandroid60" />
  <package id="SQLitePCL" version="3.8.7.2" targetFramework="monoandroid60" />
  <package id="Square.OkHttp" version="2.7.5.0" targetFramework="monoandroid60" />
  <package id="Square.OkIO" version="1.6.0.0" targetFramework="monoandroid60" />
  <package id="Square.Picasso" version="2.5.2.1" targetFramework="monoandroid60" />
  <package id="System.Spatial" version="5.7.0" targetFramework="monoandroid60" />
  <package id="WindowsAzure.Storage" version="6.1.1-preview" targetFramework="monoandroid60" />
  <package id="Xam.Plugin.Media" version="2.3.0" targetFramework="monoandroid60" />
  <package id="Xamarin.Android.Support.Animated.Vector.Drawable" version="23.4.0" targetFramework="monoandroid60" />
  <package id="Xamarin.Android.Support.Design" version="23.4.0" targetFramework="monoandroid60" />
  <package id="Xamarin.Android.Support.v4" version="23.4.0" targetFramework="monoandroid60" />
  <package id="Xamarin.Android.Support.v7.AppCompat" version="23.4.0" targetFramework="monoandroid60" />
  <package id="Xamarin.Android.Support.v7.RecyclerView" version="23.4.0" targetFramework="monoandroid60" />
  <package id="Xamarin.Android.Support.Vector.Drawable" version="23.4.0" targetFramework="monoandroid60" />
</packages>